<!DOCTYPE html>
{% include header.html %}
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    <div class="container" style="padding:30px">
        <main class="page-content">
            <h1>{{page.title}}</h1>
            <br>
            {{content}}
    </div>
    <div class="comment">
        <div class="gitalk-container">
            {% if site.comments.gitalk %}
            <section class="post-footer-item comment">
            <div id="gitalk_container"></div>
            <div id="disqus_thread"></div>
            </section>
            {% endif %}
        </div>
    </div>
    
</body>

{% if site.comments.gitalk %}
  <script>
    var gitalk = new Gitalk({
      id: 'wa-blog',
      clientID: '{{ site.comments.clientID }}', 
      clientSecret: '{{ site.comments.secret }}', 
      repo: '{{ site.comments.repo }}', 
      owner: '{{ site.comments.owner }}',
      admin: '{{ site.comments.admin }}',
      distractionFreeMode: '{{site.gitalk.distractionFreeMode}}',
    })

    gitalk.render('disqus_thread')
  </script>
  {% endif %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>