<!DOCTYPE html>
{% include header.html %}
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    <div class="container" style="padding:30px">
        <main class="page-content">
            <h1>{{page.title}}</h1>
            <br>
            {{content}}
        <div class="comment" style="padding:20px">
            <div class="gitalk-container"  id="gitalk-container">
                {% if site.comments.gitalk %}
                <section class="post-footer-item comment">
                <div id="gitalk_container"></div>
                <div id="disqus_thread"></div>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if site.comments.gitalk %}
    <script src="{{site.baseurl}}/js/md5.min.js"></script>
    <script>
      var gitalk = new Gitalk({
        id: md5("{{page.url}}"),
        clientID: "{{ site.comments.clientID }}", 
        clientSecret: "{{ site.comments.clientSecret }}", 
        repo: "{{ site.comments.repo }}", 
        owner: "{{ site.comments.owner }}",
        admin: "{{ site.comments.admin }}",
        distractionFreeMode: "{{site.gitalk.distractionFreeMode}}",
      })
  
      gitalk.render('disqus_thread')
    </script>
    {% endif %}
  
</body>

