<!DOCTYPE html>
{% include header.html %}
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    <div class="container" style="padding:30px">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <main class="page-content">
                    <h1>{{page.title}}</h1>
                    
                    <br>
                    {{content}}
            </div>
            
            <div class="col-2">
            </div>
        </div>
       

            {% include disqus.html %}        
    </div>
    

    
 

</body>

